@media (min-width: 992px) {
    .container-fixed {
        width: 750px !important;
    }
}

.table-condensed, .table-condensed-extreme {
    margin-bottom: 0;
}

.table-not-full-width {
    width: auto;
}

.table-not-full-width.table-condensed > tbody > tr > td, .table-not-full-width.table-condensed > tbody > tr > th {
    border: none;
}

/**
General styles
 */
span#title {
    font-weight: 800;
    font-family: Calibri;
    font-size: 48px;
    color: #606366;
    display: inline-block;
    margin: -11px 0px 0px -5px;
}

.subtitle {
    color: #606366;
}

.text-muted {
    color: #a1a6ab;
    font-weight: 200;
}

.title {
    font-family: Anton, monospace;
}

.company-select-wrapper .form-control{
    max-width: 276px;
}

.year-select-wrapper {
    padding-left: 14px;
}

.color-legend-select-wrapper, .year-select-wrapper {
    width: 49.5%;
    display: inline-block;
}

.color-legend-select-wrapper .form-control, .year-select-wrapper .form-control {
    max-width: 173px;
}

.option-wrapper .label {
    display: inline-block;
}

#options label {
    font-size: 9pt;
    font-weight: 400;
    color: #727477;
    text-decoration: underline;
}

.option-wrapper {
    padding-bottom: 10px;
}

span.option, span.option-activate-demo, span.option-deactivate-demo {
    padding: 0 4px;
    margin: 0 3px 3px 0;
    color: #a3a8ad;
    cursor: pointer;
    font-weight: 500;
    white-space: nowrap;
    display: inline-block;
    font-family: Verdana, sans-serif;
    /* prevent selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clear-button {
    margin-left: 5px;
    line-height: 1;
}

.color-legend-rect {
    visibility: hidden;
}

.on-legend .option.selected .color-legend-rect {
    visibility: visible;
}

span.option-activate-demo, span.option-deactivate-demo {
    padding: 0;
}

span.option:hover {
    color: #606366;
}

span.option.selected, span.option-activate-demo {
    color: #0a8cfb;
}

.sector .option {
    min-width: 165px;
}

.region .option {
    min-width: 120px;
}

.color-legend-rect {
    width: 11px;
    height: 11px;
    position: relative;
    left: -2px;
    display: inline-block;
}

.switches-wrapper {
    padding-top: 7px;
}

/***
* Diagram
**/
.axis path, .axis line {
    stroke: #808080;
}

.axis text {
    color: #808080;
}

.grid line {
    stroke: #656565;
    stroke-dasharray: 1, 2;
    shape-rendering: crispEdges;
}

.grid path, .grid text {
    display: none;
}

circle.dot {
    fill-opacity: 0.65;
}

.d3-tip {
    line-height: 1.3;
    padding: 6px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    font-size: 11px;
    z-index: 999;
}

.axis-label {
    fill: #555555;
    font-size: 12px;
}

.shade-area {
    fill: #B5B5B5;
    mask: url(#mask-stripe);
}

/**
* Loading overlay
 */
/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgb(255, 255, 255) 1.5em 0 0 0, rgba(255, 255, 255, 0.95) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.9) 0 1.5em 0 0, rgba(255, 255, 255, 0.85) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.8) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.7) 0 -1.5em 0 0, rgba(255, 255, 255, 0.65) 1.1em -1.1em 0 0;
    box-shadow: rgb(255, 255, 255) 1.5em 0 0 0, rgba(255, 255, 255, 0.95) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.9) 0 1.5em 0 0, rgba(255, 255, 255, 0.85) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.8) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.7) 0 -1.5em 0 0, rgba(255, 255, 255, 0.65) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}